.savegame-notes * {
-fx-spacing: 0.75em;
}

.content-dialog {
 -fx-padding: 1em 0 0 0.7em;
}

.loading {
-fx-background-color: #FFFFFFcc;
}

.root:dark .loading {
    -fx-background-color: #22222288;
}

.loading > .jfx-spinner {
    -jfx-radius: 2.15em;
}

.file-drag {
-fx-background-color: #FFFFFFcc;
-fx-font-size: 10em;
}

.file-drag .ikonli-font-icon {
    -fx-opacity: 0.6;
    -fx-icon-code: "mdi-file-import";
}

.no-campaign {
-fx-padding: 2em;
}

